black 
autoflake 
isort 
vulture
fastapi
motor
pydantic
httpx
pydantic-settings
uvicorn
pinecone
tiktoken
bson==0.5.9
pymongo==4.9.2
rich>=10.0.0
click>=8.0.0
typer>=0.9.0
pydantic>=2.0.0
openai>=1.0.0
langchain>=0.0.267 
prompt_toolkit