black 
autoflake 
isort 
vulture
fastapi>=0.110.0
motor
pydantic>=2.7.2,<3.0.0
httpx>=0.27,<0.29
pydantic-settings>=2.5.2
uvicorn
pinecone
tiktoken
pymongo
bson
tiktoken
prompt-toolkit
rich
Crawl4AI
mcp>=1.9.1
anyio==4.7.0
starlette>=0.46.0
python-multipart>=0.0.9