black 
autoflake 
isort 
vulture
fastapi==0.103.1
motor
pydantic==2.3.0
httpx
pydantic-settings
uvicorn==0.23.2
pinecone
tiktoken
bson==0.5.9
pymongo==4.9.2
Crawl4AI
tiktoken
mem0ai
code-splitter
tree-sitter-python
tree-sitter